/AnchorLid.class
/CrazyLid.class
/Cup.class
/FearfulLid.class
/HierarchicalCup.class
/Lid.class
/NormalCup.class
/NormalLid.class
/OpenerCup.class
/StackItem.class
/Tower.class
/TowerC2Test.class
/TowerC4Test.class
/TowerContest.class
